.depoimento{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ffbb00;
  overflow: hidden;
}

.depoimento img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}

.depoimento-conteudo{
  padding: 172px 100px; 
  align-self: center;
  background: url("../../img/dec/bottom-right-p.svg")  bottom 40px right 40px no-repeat;
}

.depoimento-conteudo p {
  max-width: 32ch;
  font-family: "Merriweather", serif;
  font-size: 38px;
  line-height: 50px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 32px;
  position: relative;
}
.depoimento-conteudo > span {
  font-family: "Merriweather", serif;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  font-weight: 500;
}

.depoimento-conteudo p::before{
  content: '“';
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  top: -10px;
  left: -50px;  
}

.depoimento-conteudo p::after{
  content: '”';
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  bottom: -50px;
}

@media (min-width: 1200px) {
 .depoimento img {
  max-height: 520px;
  }
}

@media (max-width: 800px) {
  .depoimento img{
    grid-template-columns: 1fr;
    text-align: center;
  }
  .depoimento img{
    max-height: 200px;
  }
  .depoimento-conteudo{
    padding: 40px 20px;  
    justify-self: center;
  }
}